---
import BaseLayout from "@/layouts/BaseLayout.astro"
import Header from "@/components/Header.astro";
import RecordList from "./RecordList.vue";
import { getStaticPaths } from "@/libs/StaticPages"
export { getStaticPaths }

const props = Astro.props;
const { name } = Astro.params || "default";
const data = { ...props, name }

---



<BaseLayout>
  <div class=" bg-white min-h-svh">
    <div slot="header" class="bg-theme text-white h-11 sticky top-0 z-10">
      <Header title={props.title} />
    </div>
    <RecordList client:load class="px-4 mt-4" gameData={data} />
  </div>
</BaseLayout>
