---
import BaseLayout from "@/layouts/BaseLayout.astro"
import Header from "@/components/Header.astro"
import LotteryPanel from "@/components/LotteryPanel/index.vue";
import BetFooter from "@/pages/lottery_game/components/BetFooter.vue";
import BetTab from "@/pages/lottery_game/components/BetTab.vue";
import QuickBet from "@/pages/lottery_game/components/QuickBet.vue";
import CreditBet from "@/pages/lottery_game/components/CreditBet.vue";
---

<BaseLayout>
  <div class=" bg-white min-h-svh flex flex-col">
    <div slot="header" class="bg-[#f77e04] text-white h-11 sticky top-0 z-10">
      <Header title="新澳门⑥合彩-特码投注" />
    </div>
    <LotteryPanel client:load id="21" class="px-4 mt-4" showSpecial />
    <div class="mt-2 border-t-[4px]">
      <BetTab client:load />
    </div>
    <div class="flex-1">
      <!-- 快速投注 -->
      <QuickBet client:load/>
      <!-- 信用投注 -->
      <CreditBet client:load/>
    </div>
   
    <!-- 投注底部操作区块 -->
    <BetFooter client:load />
  </div>
</BaseLayout>
