---
import BaseLayout from "@/layouts/BaseLayout.astro"
import LotteryPanel from "@/components/LotteryPanel/index.vue";
import * as games from "@/libs/games";
import Header from "@/components/Header.astro";
export function getStaticPaths() {
  return Object.entries(games).map(([name, data]) => ({
    params: { name },
    props: { ...data }
  }));
}

const { title, id, config, showSpecial } = Astro.props;
---

<BaseLayout>
  <div class=" bg-white min-h-svh">
    <div slot="header" class="bg-theme text-white h-11">
      <Header title={title} />
    </div>
    
    <LotteryPanel client:load id={id} class="px-4 mt-4" showSpecial={showSpecial} />

    <div class="mt-2 border-t-[5px] border-b border-gray-200/80 p-4">
      {
        config.map((games) => (
          <div class="mb-4">
            <h2 class="text-sm mb-2 border-l-[2px] border-red-600 pl-2">{games.title}</h2>
            <div class="grid grid-cols-4 gap-2">
              {
                games?.list?.map((game) => (
                  game.enabled
                    ? <a href="/detail_2" class="flex flex-col items-center bg-[#f1f1f1] rounded-sm p-2 text-sm leading-relaxed">
                        { game.name }
                      </a>
                    : <div class="flex flex-col items-center bg-[#f9f9f9] text-gray-300 rounded-sm p-2 text-sm leading-relaxed cursor-default select-none">
                        { game.name }
                      </div>
                    ))
              }
            </div>
          </div> 
        ))
      }
    </div>
    <div class="h-4" />
  </div>
</BaseLayout>
