---
import BaseLayout from "../layouts/BaseLayout.astro"
import LotteryInfo from "../components/LotteryInfo.astro"
---

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // 监听 API 组件载入事件
    document.addEventListener('api-component-loaded', function(data) {
      console.log('API 组件已载入', data);
    });
    
    // 监听 API 资料更新事件
    document.addEventListener('api-data-updated', function(data) {
      console.log('API 资料已更新', data);
    });
    
    
    // 监听处理完成事件
    document.addEventListener('data-processed', function(event) {
      console.log('资料处理完成', event);
    });
  });
</script>

<BaseLayout>
  <LotteryInfo />
  <div class="p-4 w-full h-full bg-[#8bc0d4]">
    <div class="p-4 bg-white rounded-lg shadow-md">
      <h1 class="text-3xl font-semibold mb-2">详情页面 1</h1>
      <p class="mb-4">这是从右侧滑入的画面。</p>
      <a onclick="history.back()" class="text-blue-600 underline overlay-link cursor-pointer">返回主页</a>


    </div>
  </div>
</BaseLayout>
