---
import BaseLayout from "@/layouts/BaseLayout.astro"
import LotteryPanel from "@/components/LotteryPanel/index.vue";
import config from "@/libs/game/lhc";
import Header from "@/components/Header.astro";
---

<BaseLayout>
  <div class=" bg-white min-h-svh">
    <div slot="header" class="bg-theme text-white h-11">
      <Header title="新澳门⑥合彩" />
    </div>
    
    <LotteryPanel client:load id="36" class="px-4 mt-4" />
    <div class="mt-2 border-t-[4px] border-b border-gray-200 p-4">
      {
        config.map((games) => (
          <div class="mb-4">
            <h2 class="text-sm mb-2 border-l-[2px] border-red-600 pl-2">{games.title}</h2>
            <div class="grid grid-cols-4 gap-2">
              {
                games.list.map((game) => (
                  game.lx === 1 && game.type === "1"
                    ? <a href="/detail_2" class="flex flex-col items-center bg-[#f1f1f1] rounded-sm p-2 text-sm leading-relaxed">
                        { game.name }
                      </a>
                    : <div class="flex flex-col items-center bg-[#f9f9f9] text-gray-300 rounded-sm p-2 text-sm leading-relaxed cursor-default select-none">
                        { game.name }
                      </div>
                    ))
              }
            </div>
          </div> 
        ))
      }
    </div>
    <div class="h-4" />

  </div>
</BaseLayout>
