---
import BaseLayout from "../layouts/BaseLayout.astro"
import LotteryInfo from "../components/LotteryInfo.astro"
import config from "../libs/game/lhc";
console.log("config", config);
---

<script>
  // document.addEventListener('DOMContentLoaded', function() {
  //   // 监听 API 资料更新事件
  //   document.addEventListener('api-data-updated', function(data) {
  //     console.log('API 资料已更新', data);
  //   });

  // });
  
</script>

<BaseLayout>
  <LotteryInfo />
  <div class="p-2">
    {
      config.map((item) => (
        <div class="p-2">
          <h2 class="text-lg font-bold">{item.title}</h2>
          {/* <div class="grid grid-cols-3 gap-4">
            {
              item.balls.map((ball) => (
                <div class={`ball ${ball.color}`}>{ball.number}</div>
              ))
            }
          </div> */}
        </div>
      ))
    }

  </div>
</BaseLayout>
