---
import BaseLayout from "../layouts/BaseLayout.astro"
import Header from "../components/Header.astro"
---

<BaseLayout>
  <div slot="header" class="bg-[#f77e04] text-white h-11">
    <Header title="新澳门⑥合彩-特码投注" />
  </div>
  <div class="p-4 w-full h-full bg-[#e4e996]">
    <div class="p-4 bg-white rounded-lg shadow-md">
      <h1 class="text-3xl font-semibold mb-2">詳情頁面 2</h1>
      <p class="mb-4">這是從右側滑入的畫面。</p>
      <a onclick="history.back()" class="text-blue-600 underline overlay-link cursor-pointer">返回主頁</a>
    </div>
  </div>
</BaseLayout>
