---
import BaseLayout from "@/layouts/BaseLayout.astro"
import Header from "@/components/Header.astro"
import LotteryPanel from "@/components/LotteryPanel/index.vue";
import BetFooter from "@/components/LotteryGame/BetFooter.vue";
import BetTab from "@/components/LotteryGame/BetTab.vue";
---

<BaseLayout>
  <div class=" bg-white min-h-svh">
    <div slot="header" class="bg-[#f77e04] text-white h-11">
      <Header title="新澳门⑥合彩-特码投注" />
    </div>
    <LotteryPanel client:load id="21" class="px-4 mt-4" />
    <div class="mt-2 border-t-[4px] border-b border-gray-200">
      <BetTab client:load />
    </div>    
    <BetFooter client:load />
  </div>
</BaseLayout>
