<div class="bg-[#f77e04] text-white h-11 flex justify-between items-center">
    <div class="flex justify-center items-center mx-3 cursor-pointer" onclick="history.back()">
        <img src="/assets/icons/ic_back_btn.svg" alt="logo" class="w-5 h-5" />
        返回
    </div>
    <div class="flex-1 text-center">
        {Astro.props.title}
    </div>
    <div class="flex justify-center items-center mx-3 cursor-pointer">
        选单
    </div>
</div>

